# Install Packages

In [1]:
import numpy as np
import pandas as pd

# Scraping and Combining SRS DataFrames

In [2]:
# from bs4 import BeautifulSoup
# import requests

In [3]:
# URL = 'https://www.basketball-reference.com/leagues/NBA_2020.html'
# page = requests.get(URL)

In [4]:
# soup = BeautifulSoup(page.content, 'lxml')

In [5]:
# table = soup.find_all('table')[0]

In [6]:
# table_rows = table.find_all('tr')

In [7]:
# SRS_df = []
# iteration = 0
# for tr in table_rows:
#     if iteration == 0:
#         th = tr.find_all('th')
#         column_names = [i.text for i in th]
#         iteration = 1
#     else:
#         th = tr.find_all('th')
#         td = tr.find_all('td')
#         thd = th + td
#         row = [i.text for i in thd]
#         SRS_df.append(row)
# SRS_df = pd.DataFrame.from_records(SRS_df)
# SRS_df.columns = column_names
# SRS_df.rename({'Eastern Conference': 'Team'}, axis = 1, inplace = True)
# SRS_df.drop(['W', 'L', 'W/L%', 'GB', 'PS/G', 'PA/G'], axis = 1, inplace = True)

In [8]:
# SRS_df

In [9]:
# def fix_team_name(x):
#     new_name = x.split(' ')
#     new_name[-1] = new_name[-1][:-5]
#     if new_name[-1][-1] == "*":
#         new_name[-1] = new_name[-1][:-1]
#     return ' '.join(new_name)
#     return new_name

In [10]:
# SRS_df['Name'] = SRS_df.apply(lambda row: fix_team_name(row['Team']), axis = 1)

In [11]:
# SRS_df['Name'] = SRS_df['Name'].str.strip()

In [12]:
# SRS_df.drop(['Team'], axis = 1, inplace = True)

In [13]:
# table = soup.find_all('table')[1]

In [14]:
# table_rows = table.find_all('tr')

In [15]:
# SRS_df_2 = []
# iteration = 0
# for tr in table_rows:
#     if iteration == 0:
#         th = tr.find_all('th')
#         column_names = [i.text for i in th]
#         iteration = 1
#     else:
#         th = tr.find_all('th')
#         td = tr.find_all('td')
#         thd = th + td
#         row = [i.text for i in thd]
#         SRS_df_2.append(row)
# SRS_df_2 = pd.DataFrame.from_records(SRS_df_2)
# SRS_df_2.columns = column_names
# SRS_df_2.rename({'Western Conference': 'Team'}, axis = 1, inplace = True)
# SRS_df_2.drop(['W', 'L', 'W/L%', 'GB', 'PS/G', 'PA/G'], axis = 1, inplace = True)

In [16]:
# SRS_df_2

In [17]:
# def fix_team_name(x):
#     new_name = x.split(' ')
#     new_name[-1] = new_name[-1][:-5]
#     if new_name[-1][-1] == "*":
#         new_name[-1] = new_name[-1][:-1]
#     return ' '.join(new_name)
#     return new_name

In [18]:
# SRS_df_2['Name'] = SRS_df_2.apply(lambda row: fix_team_name(row['Team']), axis = 1)

In [19]:
# SRS_df_2['Name'] = SRS_df_2['Name'].str.strip()

In [20]:
# SRS_df_2.drop(['Team'], axis = 1, inplace = True)

In [21]:
# SRS_df

In [22]:
# SRS_df_final = pd.concat([SRS_df, SRS_df_2])

In [23]:
# SRS_df_final.to_csv('SRS.csv')

# Combining the Datasets

In [24]:
# Oct = pd.read_csv("October_Games.csv")
# Nov = pd.read_csv("November_Games.csv")
# Dec = pd.read_csv("December_Games.csv")
# Jan = pd.read_csv("January_Games.csv")
# Feb = pd.read_csv("February_Games.csv")
# Mar = pd.read_csv("March_Games.csv")
# SRS = pd.read_csv('SRS.csv', index_col = 0)

In [25]:
# df_list = [Oct, Nov, Dec, Jan, Feb, Mar]

In [26]:
# df = pd.concat(df_list)

In [27]:
# df

,Date,Start (ET),Visitor/Neutral,PTS,Home/Neutral,PTS.1,Unnamed: 6,Unnamed: 7,Attend.,Notes
0,Tue Oct 22 2019,8:00p,New Orleans Pelicans,122,Toronto Raptors,130,Box Score,OT,20787,NaN
1,Tue Oct 22 2019,10:30p,Los Angeles Lakers,102,Los Angeles Clippers,112,Box Score,NaN,19068,NaN
2,Wed Oct 23 2019,7:00p,Chicago Bulls,125,Charlotte Hornets,126,Box Score,NaN,15424,NaN
3,Wed Oct 23 2019,7:00p,Detroit Pistons,119,Indiana Pacers,110,Box Score,NaN,17923,NaN
4,Wed Oct 23 2019,7:00p,Cleveland Cavaliers,85,Orlando Magic,94,Box Score,NaN,18846,NaN
...,...,...,...,...,...,...,...,...,...,...
73,Tue Mar 10 2020,10:30p,Los Angeles Clippers,131,Golden State Warriors,107,Box Score,NaN,18064,NaN
74,Wed Mar 11 2020,7:00p,Detroit Pistons,106,Philadelphia 76ers,124,Box Score,NaN,20172,NaN
75,Wed Mar 11 2020,7:30p,New York Knicks,136,Atlanta Hawks,131,Box Score,OT,15393,NaN
76,Wed Mar 11 2020,7:30p,Charlotte Hornets,109,Miami Heat,98,Box Score,NaN,19600,NaN
77,Wed Mar 11 2020,8:00p,Denver Nuggets,97,Dallas Mavericks,113,Box Score,NaN,20302,NaN

In [28]:
# df.drop(['Date', 'Start (ET)', 'Unnamed: 6', 'Unnamed: 7', 'Attend.', 'Notes'], axis = 1, inplace = True)

In [29]:
# df

         Visitor/Neutral  PTS           Home/Neutral  PTS.1
0   New Orleans Pelicans  122        Toronto Raptors    130
1     Los Angeles Lakers  102   Los Angeles Clippers    112
2          Chicago Bulls  125      Charlotte Hornets    126
3        Detroit Pistons  119         Indiana Pacers    110
4    Cleveland Cavaliers   85          Orlando Magic     94
..                   ...  ...                    ...    ...
73  Los Angeles Clippers  131  Golden State Warriors    107
74       Detroit Pistons  106     Philadelphia 76ers    124
75       New York Knicks  136          Atlanta Hawks    131
76     Charlotte Hornets  109             Miami Heat     98
77        Denver Nuggets   97       Dallas Mavericks    113

[971 rows x 4 columns]

In [30]:
# rename_dict = {'Visitor/Neutral': 'Away', 'PTS': 'Away_PTS', 'Home/Neutral': 'Home', 'PTS.1': 'Home_PTS'}

In [31]:
# df.rename(rename_dict, axis = 1, inplace = True)

In [32]:
# df

                    Away  Away_PTS                   Home  Home_PTS
0   New Orleans Pelicans       122        Toronto Raptors       130
1     Los Angeles Lakers       102   Los Angeles Clippers       112
2          Chicago Bulls       125      Charlotte Hornets       126
3        Detroit Pistons       119         Indiana Pacers       110
4    Cleveland Cavaliers        85          Orlando Magic        94
..                   ...       ...                    ...       ...
73  Los Angeles Clippers       131  Golden State Warriors       107
74       Detroit Pistons       106     Philadelphia 76ers       124
75       New York Knicks       136          Atlanta Hawks       131
76     Charlotte Hornets       109             Miami Heat        98
77        Denver Nuggets        97       Dallas Mavericks       113

[971 rows x 4 columns]

In [33]:
# df['Margin'] = df['Away_PTS'] - df['Home_PTS']

In [34]:
# df.columns

Index(['Away', 'Away_PTS', 'Home', 'Home_PTS', 'Margin'], dtype='object')

In [35]:
# SRS

      SRS                    Name
0   10.44         Milwaukee Bucks
1    5.88         Toronto Raptors
2    5.69          Boston Celtics
3    2.58              Miami Heat
4    1.61          Indiana Pacers
5    2.22      Philadelphia 76ers
6   -1.18           Brooklyn Nets
7   -0.85           Orlando Magic
8   -4.86      Washington Wizards
9   -6.88       Charlotte Hornets
10  -3.81           Chicago Bulls
11  -6.55         New York Knicks
12  -4.22         Detroit Pistons
13  -7.57           Atlanta Hawks
14  -7.57     Cleveland Cavaliers
0    7.75      Los Angeles Lakers
1    6.74    Los Angeles Clippers
2    3.02          Denver Nuggets
3    3.20               Utah Jazz
4    2.79   Oklahoma City Thunder
5    3.78         Houston Rockets
6    5.84        Dallas Mavericks
7   -1.05       Memphis Grizzlies
8   -1.11  Portland Trail Blazers
9    0.30    New Orleans Pelicans
10  -1.44        Sacramento Kings
11  -1.19       San Antonio Spurs
12  -1.04            Phoenix Suns
13  -3.78  Minnesota Timberwolves
14  -7.92   Golden State Warriors

In [36]:
# for index, row in SRS.iterrows():
#     print(row['Name'])

Milwaukee Bucks
Toronto Raptors
Boston Celtics
Miami Heat
Indiana Pacers
Philadelphia 76ers
Brooklyn Nets
Orlando Magic
Washington Wizards
Charlotte Hornets
Chicago Bulls
New York Knicks
Detroit Pistons
Atlanta Hawks
Cleveland Cavaliers
Los Angeles Lakers
Los Angeles Clippers
Denver Nuggets
Utah Jazz
Oklahoma City Thunder
Houston Rockets
Dallas Mavericks
Memphis Grizzlies
Portland Trail Blazers
New Orleans Pelicans
Sacramento Kings
San Antonio Spurs
Phoenix Suns
Minnesota Timberwolves
Golden State Warriors

In [37]:
# def create_team_SRS(x):
#     for i, r in SRS.iterrows():
#         if r['Name'] == x:
#             return r['SRS']

In [38]:
# df['Away_SRS'] = df.apply(lambda row: create_team_SRS(row['Away']), axis = 1)

In [40]:
# df['Home_SRS'] = df.apply(lambda row: create_team_SRS(row['Home']), axis = 1)

In [42]:
# df

,Away,Away_PTS,Home,Home_PTS,Margin,Away_SRS,Home_SRS
0,New Orleans Pelicans,122,Toronto Raptors,130,-8,0.30,5.88
1,Los Angeles Lakers,102,Los Angeles Clippers,112,-10,7.75,6.74
2,Chicago Bulls,125,Charlotte Hornets,126,-1,-3.81,-6.88
3,Detroit Pistons,119,Indiana Pacers,110,9,-4.22,1.61
4,Cleveland Cavaliers,85,Orlando Magic,94,-9,-7.57,-0.85
...,...,...,...,...,...,...,...
73,Los Angeles Clippers,131,Golden State Warriors,107,24,6.74,-7.92
74,Detroit Pistons,106,Philadelphia 76ers,124,-18,-4.22,2.22
75,New York Knicks,136,Atlanta Hawks,131,5,-6.55,-7.57
76,Charlotte Hornets,109,Miami Heat,98,11,-6.88,2.58
77,Denver Nuggets,97,Dallas Mavericks,113,-16,3.02,5.84

In [43]:
# df.to_csv('Final_Dataset_Simple_Model.csv')